# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
